.q{
    background-color: aqua;
    text-align: center;
    border-radius: 30px;
    border: 10px; color: red;
    }
    .a{background-color: red ; color: white;}
    .w{ background-color: black; color: white;}
    table{border: solid 1px white;
    border-collapse: collapse;width: 900px;;}




















